.footer-contaier {
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: #623108;
}

.footer-text {
    color: #ffffff;
    margin: 4px;
}

.footer-image {
    height: 60px;
}